/*Challenge 12: Re-Design the cookie widget

body{
    background: white;
    color: Blue;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}*/

/*Challenge 13: select the image tag and set the width of google logo to 300px*/
image{
    width: 300px;
    display: block;
}

input{
    display: block;
    width: 400px;
}


