/*Challenge 20: Add padding to make our card look like the provided design.*/

.card{
    color: white;
    background: lightgray;
    width: 300px;
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    padding-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

