/*Challenge 12: Re-Design the cookie widget

body{
    background: white;
    color: Blue;
    font-size:20px;
    font-weight: bold;
    text-align: center;
} */

/*Challenge 13: select the image tag and set the width of google logo to 300px*/
.image-column{
    display: block;  
    width: 300px;
    margin-bottom: 20px; /*Challenge 18: Add some space netween the logo and the search field*/
    margin-left: auto; /*Challenge 19: Center the logo and the search field*/
    margin-right: auto;
}
/*Challenge 14: Add some space (margin) above our image */
.main{
    margin-top: 100px;  
    text-align: center;
}

.input-column{
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    /*Challenge 23: Design the search field according to */
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

/*Challenge 25: Center the button and add some space above it */
.btn{
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;

/*Challenge 26: Style the button according to provided design ; Use padding, font-size, border-radius, border, background*/
    background: #dfe1e5;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px; 
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px;
}

/*Challenge 28: Wrap the buttons in a flexbox div and center it*/
.btn-wrapper{
    display: flex;
    justify-content: center;
}