body{
    margin: 0px;
}

.red{
    background: red;
    height: 100px;
    margin-bottom: 0px; /*Challenge 16: Add 100px of margin on the bottom of the red box.*/
}
.blue{
    background:blue;
    height: 100px;
    margin-top: 10px; /*Challenge 17: create the flag of Gambia.*/
    margin-bottom: 10px;
}

.green{
    background:green;
    height: 100px;
}
